html,
body,
.full-screen {
    width: auto;
    min-height: 100vh;
    height: auto;
}

.centered{
    margin-top: 3em;
    margin-bottom: 0em;
}

.footer{
    height: 40px;
    bottom: 0px;
}

.mainwindow{
    overflow-y:auto;
    background-color: slategray;
    min-height: 100vh;
    height: auto;
}

.sidemenu{
    position: absolute;
}

.songlist{
    position: relative;
    padding-top: 2%;
}

