html,
body,
.full-screen {
    width: auto;
    min-height: 100vh;
    height: auto;
}

.centered{
    margin-top: 3em;
    margin-bottom: 0em;
}

.footer{
    height: 40px;
    bottom: 0px;
}

.mainwindow{
    display: table;
    position: relative;
    padding-left: 25%;
    padding-top: 2%;
    overflow-y:auto;
}

.sidemenu{
    position: absolute;
}
